header {
	grid-area: header;
}

main {
	grid-area: main;
	background-color: rgba(244, 244, 255, 1);
}

footer {
	grid-area: footer;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

h2 {
	font-weight: 500;
}

.section {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.aside_img_section {
	align-items: flex-start;
	flex-direction: row;
	gap: 5rem;
}

@media all and (max-width: 1248px) {
	.section {
		width: calc(100% - 3rem);
	}
}

@media all and (max-width: 1248px) {
	.home_page .aside_img_section {
		gap: 5rem;
	}
}

@media all and (max-width: 1248px) {
	.aside_img_section .head_illustration img {
		max-width: 450px;
	}
}

@media all and (max-width: 1150px) {
	h2 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media all and (max-width: 1011px) {
	.head_illustration {
		display: none;
	}
}

.blue_text {
	color: var(--text-title-blue-france);
}
