header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 117px auto 280px;
    grid-template-columns: 100%;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.page-container {
    max-width: 1200px;
    width: 100%;
    margin: 1.5rem auto 1.5rem;
}

@media all and (max-width: 1248px) {
    .page-container {
        margin: 1.5rem;
        width: calc(100% - 3rem);
    }
}

.first-section {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    align-items: center;
}

.first-section > * {
    flex-grow: 1;
    flex-basis: 0;
}
